numpy
pandas
tensorflow
opencv-python
torch
matplotlib
requests
keras
pillow
flask
streamlit
scikit-learn
scikit-image
scipy
roboflow
nltk
scipy
folium
yfinance
imageio
imutils
pygame
django
pycryptodome
cryptography
geopy
streamlit_folium
shapely
transformers
pydeck
beepy
face-recognition
